.weather{
    background-color: chartreuse;
    border-radius:10px ;
    padding: 20px;
    max-width: 450px;
    margin: 0 auto;
}
.weather_loading{
    display: flex;
    justify-content: center;
    align-items: center;
}
.weather_loading img {
    max-width: 50px;
}

.weather_header{
display: flex;
}
.weather_main{
    flex:1 1 auto;
}
.weather_city{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 15px;

}
.weather_status{
    font-size: 20px;
}
